# Ігнорувати файли конфігурації з розширенням .config
*.config

# Ігнорувати файли appsettings.json
appsettings.json

# Ігнорувати файли з розширенням .jpg
*.jpg

# Ігнорувати файли з розширенням .txt
*.txt

# Ігнорувати файли з розширенням .doc
*.doc

# Ігнорувати все в папці packages
packages/

# Ігнорувати все в папці bin
bin/

# Ігнорувати все в папці obj
obj/


