@page "/"

<PageTitle>Home</PageTitle>

<h1>My Vocabulary!</h1>

 My Vocabulary offers an ideal tool for learning words at any level. 
 
 We provide a convenient and effective way to enhance your vocabulary. 
 With our wide range of exercises, tests, and interactive language-learning tasks, mastering a language becomes an engaging and straightforward process. 
 
 Join our community and expand your language skills with My Vocabulary!